@font-face {
  font-family: "Tisa Sans Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Tisa Sans Pro Regular"), url("../fonts/Tisa Sans Pro Regular.woff") format("woff");
}

@font-face {
  font-family: "Tisa Sans Pro Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tisa Sans Pro Extra Bold"), url("../fonts/Tisa Sans Pro ExtraBold.woff") format("woff");
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Tisa Sans Pro";
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:visited {
  color: initial;
}

li {
  list-style: none;
}

/* Reuseable classes */
.full-wd-container-blk {
  width: 100%;
  display: block;
}

.main-container-blk {
  width: 1300px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 1301px) {
  .main-container-blk {
    width: 100%;
    padding: 0px 30px;
  }
}

.btn-class {
  background: #f6914e;
  width: 225px;
  -webkit-box-shadow: 0 22px 21px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 22px 21px 0 rgba(0, 0, 0, 0.16);
  color: #fff !important;
  display: block;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0 22px 21px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-class:hover {
  background: #ff6e39;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-box-shadow: 0 22px 21px 0 #ebc8af;
          box-shadow: 0 22px 21px 0 #ebc8af;
}

.grid-blk {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline-blk {
  text-align: center;
}

.headline-blk h1 {
  font-family: "Tisa Sans Pro Extra Bold";
  color: #443636;
  display: block;
  margin-bottom: 20px;
}

.headline-blk p {
  color: #a7836d;
  display: block;
  margin-bottom: 30px;
}

@media (max-width: 1300px) {
  .main-container-blk {
    width: 100%;
    padding: 0 20px;
  }
}

/* Block Styles */
nav {
  padding: 50px 42px;
  position: absolute;
  z-index: 99;
  width: 100%;
}

nav a {
  color: #443636;
  font-size: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #f6914e;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:first-child img {
  width: 200px;
  vertical-align: middle;
  margin-right: 25px;
}

nav ul li:nth-child(5) {
  margin-left: auto;
}

nav ul li:last-child {
  margin-right: 0px;
  position: relative;
}

nav ul li:last-child span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  margin-top: 2px;
  left: 50%;
}

nav ul li:last-child img {
  width: 30px;
  vertical-align: middle;
}

#mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: 20px 20px;
}

#mobile-nav .grid-class {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#mobile-nav .grid-class #brand-name-blk img {
  width: 100%;
}

#mobile-nav .grid-class div:last-child {
  margin-left: auto;
  position: relative;
}

#mobile-nav .grid-class div:last-child img {
  width: 30px;
}

#mobile-nav .grid-class div:last-child span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#mobile-nav #toggle-menu {
  cursor: pointer;
}

#mobile-nav .fa-solid {
  font-size: 30px;
}

#mobile-navigation {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 850px;
  position: fixed;
  z-index: 9999;
}

#mobile-navigation i {
  top: 0;
  right: 0;
  font-size: 30px;
  padding: 20px;
  position: absolute;
  cursor: pointer;
}

#mobile-navigation #mobile-nav-blk {
  background: #faf2ed;
  width: 70%;
  height: 850px;
  position: relative;
}

#mobile-navigation #mobile-nav-blk img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

#mobile-navigation #mobile-nav-blk img:first-child {
  width: 70px;
  padding-top: 30px;
  margin-bottom: 30px;
}

#mobile-navigation #mobile-nav-blk ul {
  margin: 20px auto;
  display: block;
  width: 300px;
  text-align: center;
}

#mobile-navigation #mobile-nav-blk ul li {
  border-bottom: 1px solid #e4e4e4;
  margin-top: 20px;
  padding-bottom: 20px;
  display: block;
}

#mobile-navigation #mobile-nav-blk ul li:last-child {
  border: 0;
}

#mobile-navigation #mobile-nav-blk ul li a {
  font-family: "Tisa Sans Pro Extra Bold";
  color: #443636;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#mobile-navigation #mobile-nav-blk ul li a:hover {
  color: #3c562c;
}

.close-nav {
  display: none !important;
}

.open-nav {
  display: block !important;
}

@media (max-width: 998px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  #brand-name-blk img {
    width: 140px;
  }
}

@media (max-width: 768px) {
  #mobile-nav {
    display: block;
  }
  nav {
    display: none;
  }
}

#hero-blk {
  width: 100%;
  height: 800px;
  background: #edd3c1;
}

#hero-blk .main-container-blk {
  padding-top: 200px;
  position: relative;
  padding-left: 30px;
  z-index: 9;
}

#hero-blk h1 {
  color: #443636;
  font-family: "Tisa Sans Pro Extra Bold";
  font-size: 49px;
  letter-spacing: -0.98px;
  line-height: 57px;
}

#hero-blk p {
  display: block;
  margin: 10px 0px;
  color: #998c7a;
  font-family: "Tisa Sans Pro";
  font-size: 21px;
}

#hero-wave {
  position: absolute;
  bottom: -10%;
  width: 100%;
}

.product-hero {
  width: 500px;
  position: absolute;
  z-index: -9;
  top: 30%;
  right: 10%;
  display: block;
}

.hero-fern-one {
  position: absolute;
  width: 259px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: -15%;
}

.hero-plant-one {
  position: absolute;
  width: 160px;
  bottom: -10%;
  right: 0;
}

.hero-fern-two {
  position: absolute;
  width: 150px;
  bottom: 50%;
  right: 0;
}

@media (max-width: 1100px) {
  .product-hero {
    width: 400px;
  }
}

@media (max-width: 768px) {
  #hero-blk .main-container-blk {
    padding-left: 30px;
    padding-top: 150px;
  }
  #hero-blk .main-container-blk h1 {
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    margin-top: 20px;
  }
  #hero-blk .main-container-blk p {
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
  }
  #hero-blk .main-container-blk .btn-class {
    margin: 0 auto;
  }
  .product-hero {
    width: 300px;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 0%;
    right: 0%;
  }
  .hero-fern-one {
    width: 180px;
  }
  .hero-plant-one {
    position: absolute;
    width: 95px;
    bottom: -10%;
    right: 0;
  }
  .hero-fern-two {
    position: absolute;
    width: 80px;
    bottom: 50%;
    right: 0;
  }
}

#benefits-block {
  display: block;
  background: #fefaf8;
  padding-top: 40px;
}

#benefits-block .grid-blk {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#benefits-block .grid-blk div {
  position: relative;
}

#benefits-block .grid-blk img {
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 0 3px 20px 0 rgba(37, 36, 36, 0.1);
          box-shadow: 0 3px 20px 0 rgba(37, 36, 36, 0.1);
}

#benefits-block .grid-blk .paragraph-blk {
  background: #fff;
  text-align: center;
  position: absolute;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  padding: 20px;
  bottom: 0;
}

@media (max-width: 600px) {
  #benefits-block {
    width: 100%;
  }
  #benefits-block .main-container-blk {
    width: 100%;
  }
  #benefits-block .grid-blk {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#about-blk {
  display: block;
  margin-top: -100px;
}

#about-blk .headline-blk img {
  width: 50px;
}

#about-blk .grid-blk {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#about-blk .grid-blk .slide-container-blk {
  position: relative;
}

#about-blk .grid-blk .slide-container-blk img {
  width: 450px;
}

#about-blk .grid-blk .slide-container-blk .gummy {
  position: absolute;
  width: 450px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
}

#about-blk .grid-blk .slide-container-blk .herb {
  position: absolute;
  width: 450px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
  z-index: 9999;
  clip: rect(0px, 600px, 500px, 0px);
}

#about-blk .grid-blk div img {
  width: 80px;
  margin: 0 auto 20px auto;
  display: block;
}

#about-blk .grid-blk div .grid-cols {
  margin-bottom: 80px;
}

#about-blk .grid-blk div h1 {
  font-size: 20px;
  text-align: center;
  color: #443636;
}

#about-blk .grid-blk div .header-line-blk {
  display: block;
  width: 200px;
  height: 2px;
  background: #f6914e;
  margin: 10px auto;
}

#about-blk .grid-blk div p {
  text-align: center;
  color: #a7836d;
}

#about-blk .cta-btn-about {
  background: #3c562c;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 11px;
  color: #fff;
  display: block;
  text-align: center;
  width: 220px;
  letter-spacing: 2px;
  margin: 0px auto;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#about-blk .cta-btn-about:hover {
  background: #66b80e;
}

.waves-about {
  margin-top: -100px;
}

@media (max-width: 768px) {
  #about-blk {
    margin-top: 0px;
  }
  #about-blk .grid-blk {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #about-blk .grid-blk div:first-child,
  #about-blk .grid-blk div:last-child {
    display: none;
  }
  #about-blk .grid-blk div:nth-child(2) {
    margin-bottom: 50px;
  }
  #about-blk .grid-blk div:nth-child(2) img {
    width: 80%;
  }
  #about-blk .grid-blk div:nth-child(2) .gummy {
    width: 80%;
  }
  #about-blk .grid-blk div:nth-child(2) .herb {
    width: 80%;
  }
  #about-blk .cta-btn-about {
    margin-top: 150px;
  }
  .waves-about {
    margin-top: 0px;
  }
  .slide-container-blk {
    margin-top: 200px;
    margin-bottom: 500px;
  }
  .slide-container-blk img {
    padding: 30px;
  }
}

#satisfaction-blk {
  height: 600px;
  position: relative;
  background: #fefaf8;
  padding-bottom: 50px;
}

#satisfaction-blk .bg-blk-satisfaction {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 20%;
}

#satisfaction-blk .left-panel-blk {
  margin-left: 50px;
  z-index: 99;
}

#satisfaction-blk .left-panel-blk h1 {
  font-family: "Tisa Sans Pro Extra Bold";
  color: #443636;
  display: block;
  margin-bottom: 20px;
}

#satisfaction-blk .left-panel-blk p {
  color: #a7836d;
  display: block;
}

#satisfaction-blk .left-panel-blk ul li {
  background: #f5f5f5;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 40px;
}

#satisfaction-blk .left-panel-blk ul li div img {
  width: 40px;
  margin: 0px 30px 0px 50px;
}

#satisfaction-blk .left-panel-blk ul li div h2 {
  font-size: 18px;
  color: #443636;
  font-family: "Tisa Sans Pro";
  font-weight: initial;
}

#satisfaction-blk .left-panel-blk ul li div p {
  font-size: 15px;
  color: #7b5f4e;
}

@media (max-width: 998px) {
  #satisfaction-blk {
    height: 100%;
  }
  .bg-blk-satisfaction {
    display: none;
  }
  .left-panel-blk {
    margin: 0 auto !important;
  }
  .left-panel-blk ul li {
    width: 100% !important;
  }
  .left-panel-blk h1 {
    text-align: center;
  }
  .left-panel-blk p {
    text-align: center;
  }
}

footer {
  background: #3c562c;
}

footer #footer-header-blk {
  background: #edd3c1;
  padding: 20px 0px;
}

footer #footer-header-blk .back-to-top-blk {
  background: none;
  border: 1px solid #787878;
  padding: 10px 30px;
  border-radius: 5px;
  color: #787878;
  letter-spacing: 2px;
  font-size: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer #footer-header-blk .back-to-top-blk:hover {
  background: #3c562c;
  color: #fff;
}

footer #footer-header-blk .grid-blk {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

footer #footer-header-blk .grid-blk div:last-child {
  text-align: right;
}

footer #footer-header-blk img {
  width: 80px;
  display: block;
  margin: 0 auto;
}

footer #footer-header-blk h1 {
  font-family: "Tisa Sans Pro Extra Bold";
  color: #443636;
  font-size: 30px;
}

footer #footnote-blk {
  padding: 20px 0px 0px 0px;
}

footer #footnote-blk img {
  margin: 30px auto;
  display: block;
  width: 250px;
}

footer #footnote-blk ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

footer #footnote-blk ul a {
  color: #fff;
  font-size: 14px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

footer #footnote-blk ul a:hover {
  color: #ffcf00;
}

footer .f-blk {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

footer .f-blk li {
  display: inline-block;
  margin-right: 20px;
}

footer .f-blk li:last-child {
  margin-right: 0px;
}

footer .f-blk a {
  font-size: 11px;
  color: #7a7a7a;
}

@media (max-width: 550px) {
  #footer-header-blk .grid-blk {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  #footer-header-blk .grid-blk div:first-child {
    display: none;
  }
  #footer-header-blk div:nth-child(2) {
    margin-right: auto;
  }
  #footnote-blk .grid-blk ul {
    display: block;
  }
  #footnote-blk .grid-blk ul li {
    padding: 15px;
  }
  .f-blk {
    width: 100% !important;
  }
  .f-blk ul li {
    display: block;
    margin: 0px;
    padding: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */